Repository ttoss/ttoss, pull requests merged in 2024-04, with the labels that each got.

#517 Giovane guimaraes issue 513 testes with new method cnpj
  docs/storybook/stories/forms/FormFieldCNPJ.stories.tsx
  packages/forms/package.json
  packages/forms/src/Brazil/FormFieldCNPJ.tsx
  packages/forms/src/Brazil/index.ts
  packages/forms/src/index.ts
  packages/forms/src/yup/i18n.ts
  packages/forms/src/yup/schema.ts
  packages/forms/src/yup/typings.d.ts
  packages/forms/src/yup/yup.ts
  packages/forms/tests/unit/FormFieldCNPJ.test.tsx
  pnpm-lock.yaml
Labels: @ttoss/forms

#524 chore: update eslint-config packages
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: @ttoss/eslint-config

#527 chore: downgrade eslint to v8
  .eslintrc.js
  .github/workflows/closed-pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .ncurc.js
  challenge/packages/app-vite-with-graphql-api/package.json
  docs/website/lifecycle/carlin/index.js
  docs/website/package.json
  package.json
  packages/carlin/package.json
  packages/cloud-auth/package.json
  packages/cloudformation/package.json
  packages/components/package.json
  packages/components/tests/setupTests.tsx
  packages/config/package.json
  packages/eslint-config/package.json
  packages/forms/package.json
  packages/forms/tests/setupTests.tsx
  packages/forms/tests/unit/I18n.test.tsx
  packages/google-maps/package.json
  packages/landing-pages/package.json
  packages/layouts/package.json
  packages/react-auth/package.json
  packages/react-feature-flags/package.json
  packages/react-hooks/package.json
  packages/react-i18n/package.json
  packages/react-icons/package.json
  packages/react-notifications/package.json
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/ui/jest.config.ts
  packages/ui/package.json
  packages/ui/tests/setupTests.tsx
  pnpm-lock.yaml
  terezinha-farm/next-app/package.json
  terezinha-farm/vite-app/package.json
Labels: @ttoss/eslint-config

#531 docs: add carlin docs
  .ncurc.js
  docs/website/docs/carlin/01-introduction.mdx
  docs/website/docs/carlin/02-commands/_category_.yml
  docs/website/docs/carlin/02-commands/_deploy-cicd.mdx
  docs/website/docs/carlin/02-commands/_generate-env.mdx
  docs/website/docs/carlin/02-commands/deploy.mdx
  docs/website/docs/carlin/02-getting-started.mdx
  docs/website/docs/carlin/_04-commands/deploy.mdx
  docs/website/docusaurus.config.js
  docs/website/docusaurus.config.ts
  docs/website/lifecycle/carlin/comments.js
  docs/website/package.json
  docs/website/plugins/carlin/getComments.js
  docs/website/plugins/carlin/index.js
  docs/website/sidebars.ts
  docs/website/src/components/Carlin.tsx
  docs/website/src/components/OptionsTable.tsx
  packages/carlin/FAQ.md
  packages/carlin/babel.config.cjs
  packages/carlin/bin/carlin
  packages/carlin/bin/carlin.js
  packages/carlin/jest.config.ts
  packages/carlin/jest.coverageThreshold.cjs
  packages/carlin/package.json
  packages/carlin/src/deploy/cicd/lambdas/cicdApiV1.handler.ts
  packages/carlin/src/deploy/cicd/lambdas/ecsTaskReport.handler.ts
  packages/carlin/src/deploy/cicd/lambdas/executeTasks.ts
  packages/carlin/src/deploy/cicd/lambdas/githubWebhooksApiV1.handler.spec.ts
  packages/carlin/src/deploy/cicd/lambdas/githubWebhooksApiV1.handler.ts
  packages/carlin/src/deploy/cicd/lambdas/pipelines.handler.ts
  packages/carlin/src/deploy/cicd/lambdas/putApprovalResultManualTask.ts
  packages/carlin/src/deploy/cloudformation.ts
  packages/carlin/src/deploy/command.ts
  packages/carlin/src/deploy/lambda/uploadCodeToECR.ts
  packages/carlin/src/deploy/lambdaLayer/deployLambdaLayer.ts
  packages/carlin/src/deploy/s3.ts
  packages/carlin/src/deploy/staticApp/invalidateCloudFront.ts
  packages/carlin/src/utils/codeBuild.ts
  packages/carlin/src/utils/getAwsAccountId.ts
  packages/carlin/tests/unit/cloudformation.test.ts
  packages/carlin/tsconfig.json
  packages/carlin/tsup.config.ts
  pnpm-lock.yaml
Labels: documentation, carlin

#533 fix: remove require from carlin scripts
  packages/carlin/jest.config.ts
  packages/carlin/package.json
  packages/carlin/src/cli.ts
  packages/carlin/src/deploy/lambda/deployLambdaLayers.ts
  packages/carlin/src/deploy/stackName.spec.ts
  packages/carlin/src/deploy/stackName.ts
  packages/cloudformation/src/readObjectFile.ts
  packages/config/package.json
  packages/config/src/babel.ts
  pnpm-lock.yaml
Labels: bug, carlin

#535 docs: improve carlin deploy docs
  docs/website/docs/carlin/01-introduction.mdx
  docs/website/docs/carlin/02-configuration.mdx
  docs/website/docs/carlin/03-commands/_category_.yml
  docs/website/docs/carlin/03-commands/_deploy-cicd.mdx
  docs/website/docs/carlin/03-commands/_generate-env.mdx
  docs/website/docs/carlin/03-commands/deploy.mdx
  docs/website/docs/engineering/02-career/01-culture.md
  docs/website/docs/engineering/07-roadmap.mdx
  docs/website/docusaurus.config.ts
  docs/website/package.json
  docs/website/plugins/carlin/README.md
  docs/website/plugins/carlin/getComments.js
  docs/website/plugins/carlin/getComments.mjs
  docs/website/plugins/carlin/index.mjs
  docs/website/plugins/carlin/printComments.mjs
  packages/appsync-api/README.md
  packages/carlin/src/cli.ts
  packages/config/README.md
  packages/i18n-cli/README.md
  packages/react-i18n/README.md
  pnpm-lock.yaml
Labels: documentation
